.header {
  @media (max-width: 1749.98px) {
    position: relative;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    padding: 28px 0;
  }

  &-burger {
    margin-right: auto;
  }

  &-logo {
    margin-right: 76px;

    @media (max-width: 1749.98px) {
      margin-right: 0;
    }
  }

  &-feedback {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: 720.98px) {
      display: none;
    }

    &_mobile {
      display: none;

      @media (max-width: 720.98px) {
        display: block;
      }
    }

    &__phone {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding: 0 36px;
      opacity: .5 ;
      overflow: hidden;
      transition: opacity .2s ease-in-out;

      @media (max-width: 720.98px) {
        width: 330px;
        margin-bottom: 10px;
      }

      @media (max-width: 480.98px) {
        width: 320px;
        margin: 0 auto 10px;
      }

      @media (max-width: 320.98px) {
        width: 260px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 100%;
        border: 1px solid var(--color-white);
        transform: skew(-17deg, 0);
        transition: border-color .3s ease-in-out;

        @media (max-width: 720.98px) {
          transform: skew(-20deg, 0);
        }

        @media (max-width: 480.98px) {
          width: 93%;
        }

        @media (max-width: 320.98px) {
          width: 90%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        width: 0;
        height: 100%;
        background: #C2AB81;
        transform: skew(-17deg, 0);
        z-index: -1;
        transition: width .2s ease-in-out;

        @media (max-width: 720.98px) {
          right: 32px;
          transform: skew(-20deg, 0);
        }
      }

      &:hover {
        opacity: 1;

        &.header-feedback__phone::before {
          border-color: transparent;
        }

        &.header-feedback__phone::after {
          width: 79%;

          @media (max-width: 720.98px) {
            width: 80%;
          }

          @media (max-width: 480.98px) {
            width: 93%;
            right: 10px;
          }

          @media (max-width: 320.98px) {
            width: 90%;
            right: 12px;
          }
        }
      }
    }

    &__btn {
      margin-left: 20px;

      @media (max-width: 720.98px) {
        margin-left: 0;

        &::before {
          transform: skew(-20deg, 0);
        }

        &::after {
          right: 0;
          width: 0;
          transform: skew(-20deg, 0);
        }

        &:hover {
          &.header-feedback__btn::after {
            right: 16px;
            width: 95%;

            @media (max-width: 320.98px) {
              right: 14px;
            }
          }
        }
      }

      @media (max-width: 480.98px) {
        width: 320px;
        margin: 0 auto;
      }

      @media (max-width: 320.98px) {
        width: 260px;
      }
    }
  }
}